.cardProducto{
 display:grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 1rem;
  text-align: center;
  font-size: 16px;    
  max-width: 1200px;
}
h3{
  margin: 0px;
}
p{
  margin: 0px;
}


  .imgProducto {
    margin-top: 1rem;
    width: 180px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
  }  

  .miBtnDetalles {
    background: linear-gradient(180deg, rgb(63.83, 153.2, 137.11) 0%, rgb(50, 51, 52) 100%);
    background-color: #296157;
    font-family: "Lato-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;    
    font-size: 18px;      
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .miBtnDetalles:hover {
    background-color: #296157;
    background: linear-gradient(180deg, rgb(63.83, 153.2, 137.11) 0%, rgb(63.83, 153.2, 137.11) 100%);
    color: #ffffff;
    text-decoration: none;
  }

  .miBtnDetalles img {
    padding-left: 12px;
  }

  .detalles{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
   
    align-items: center;


  }
  