.titulo {
  font-weight: 400;
  font-size: 40px;
  font-weight: 600;
  height: 24px;
  letter-spacing: 0;
  text-align: center;
  font-family: 'Lato-SemiBold', Helvetica;
  padding-bottom: 60px;
}

.subtitulo {
  font-family: 'Lato-Regular', Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
}

.masProductos {
    display: grid;
    justify-content: center;
}

.masProductos button{
    width: 378px;
    height: 50px;
    background-color: #F4D88F;
    margin-bottom: 20px;
}

.blur {
  filter: blur(4px);
}

.ver-todos {
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Lato-Regular', Helvetica;
  color: #111111;
  background: linear-gradient(180deg, rgb(244, 216, 143) 0%, rgb(160.22, 134.31, 66.76) 100%);
  background-color: #c4a553;
  border: none;
}

.ver-todos:hover {
  background: linear-gradient(180deg, rgb(244, 216, 143) 0%, rgb(173, 153, 102) 100%);
  background-color: #F4D88F;
  color: #111111;
}
.productos{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}