.modal {
  height: 373px;
  width: 378px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal .formulario-login {
  height: 373px;
  left: 0;
  position: absolute;
  top: 0;
  width: 378px;
}

.modal .frame {
  background-color: #f4d88f;
  border-radius: 7.89px;
  height: 373px;
  overflow: hidden;
  position: relative;
}

.modal .overlap {
  border: 0.79px solid;
  border-color: #3f9989;
  border-radius: 3.95px;
  height: 38px;
  left: 33px;
  position: absolute;
  top: 303px;
  width: 312px;
}

.modal .text-wrapper {
  color: #111111;
  font-family: 'Lato-Bold', Helvetica;
  font-size: 12.6px;
  font-weight: 700;
  height: 19px;
  left: 85px;
  letter-spacing: 0;
  line-height: 18.9px;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}

.modal .overlap-group {
  background-color: #3f9989;
  border-radius: 3.95px;
  height: 38px;
  left: 33px;
  position: absolute;
  top: 193px;
  width: 312px;
}

.modal .iniciar-sesi-n {
  background-color: #3f9989;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 3.95px;
  height: 38px;
  width: 312px;
  position: absolute;
  cursor: pointer;
}

.modal .quiero-crear-una {
  color: #1e1e1e;
  font-family: 'Lato-Medium', Helvetica;
  font-size: 12.6px;
  font-weight: 400;
  height: 19px;
  left: 103px;
  letter-spacing: 0;
  line-height: 18.9px;
  position: absolute;
  text-align: center;
  top: 257px;
  white-space: nowrap;
}

.modal .span {
  font-weight: 500;
}

.modal .text-wrapper-2 {
  font-family: 'Lato-Black', Helvetica;
  font-weight: 900;
}

.modal .modal-title {
  color: #1e1e1e;
  font-family: 'Lato-SemiBold', Helvetica;
  font-size: 15.8px;
  font-weight: 600;
  height: 19px;
  left: 109px;
  letter-spacing: 0;
  line-height: 18.9px;
  position: absolute;
  text-align: center;
  top: 24px;
  white-space: nowrap;
}

.modal .email-wrapper {
  background-color: #ffffff;
  border-radius: 3.95px;
  height: 41px;
  left: 33px;
  position: absolute;
  top: 69px;
  width: 312px;
}

.modal .text-wrapper-3 {
  color: #3f9989;
  font-family: 'Lato-Bold', Helvetica;
  font-size: 11.1px;
  font-weight: 700;
  height: 19px;
  left: 9px;
  letter-spacing: 0;
  line-height: 18.9px;
  position: absolute;
  text-align: center;
  top: 10px;
  white-space: nowrap;
}

.modal .contrase-a-wrapper {
  background-color: #ffffff;
  border-radius: 3.95px;
  height: 41px;
  left: 33px;
  position: absolute;
  top: 129px;
  width: 312px;
}

/* move the placeholder text the left and remove borders */

.modal .input-modal {
  border: none;
  border-radius: 3.95px;
  outline: none;
  height: 41px;
  width: 312px;
  top: 10px;
  padding-left: 9px;
  color: #3f9989;
  font-family: 'Lato-Bold', Helvetica;
  font-size: 11.1px;
  font-weight: 700;
}

::placeholder {
  position: absolute;
  left: 9px;
  color: #3f9989;
  font-family: 'Lato-Bold', Helvetica;
  font-size: 11.1px;
  font-weight: 700;
}

.active {
  display: inline-block;
  /* make entry animation */
  animation: entry 0.5s ease-in-out forwards;
}

@keyframes entry {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.inactive {
  /* make exit animation */
  animation: exit 0.5s ease-in-out forwards;
  display: none;
}

@keyframes exit {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.cuenta-nueva {
  /* remove link styling */
  text-decoration: none;
  color: #1e1e1e;
  font-family: 'Lato-Bold', Helvetica;
  font-size: 12.6px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 18.9px;
  white-space: nowrap;
}
